[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
numpy = "<2"
keras = "*"
tensorflow = "==2.14.0"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.11"
