@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");


body {
    display: flex;
    font-family: Arial, sans-serif; /* Yazı tipi ailesi */
    font-size: 19px; /* <p>İklim değişikliği, Dünya’nın ikliminde uzun vadede meydana gelen değişiklikleri ifade eder. 
    Bu, sıcaklıkların yükselmesi, deniz seviyesinin artması, ekstrem hava olaylarının sıklığının ve şiddetinin artması gibi etkileri kapsar. 
    İklim değişikliği, büyük ölçüde insan faaliyetlerinin bir sonucu olarak ortaya çıkıyor. 
    Fosil yakıtların yakılması, ormansızlaşma ve tarım gibi faaliyetler atmosfere büyük miktarda sera gazı salıyor ve bu da küresel ısınmaya yol açıyor.</p> etiketindeki ana yazının boyutu */
    background-color: #5dd05b; /* Web sayfasının arka plan rengi */
    color: #ffffff; /* Metin rengi */
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
 
h1 {
    color: #452a04; /* Başlık rengi */
    font-size: 24px; /* Başlık yazı tipi boyutu */
    font-family: Georgia, serif; /* Başlıkta kullanılan yazı tipi ailesi */
}
h2 {
    color: #452a04; /* Başlık rengi */
    font-size: 24px; /* Başlık yazı tipi boyutu */
    font-family: Georgia, serif; /* Başlıkta kullanılan yazı tipi ailesi */
}
h3 {
  color: #452a04; /* Başlık rengi */
  font-size: 24px; /* Başlık yazı tipi boyutu */
  font-family: Georgia, serif; /* Başlıkta kullanılan yazı tipi ailesi */
  text-align: start;
}

p{
  text-align: start;
}



li{
  text-align: start;

}

img {
  object-fit: contain;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.2s;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  width: 100%;
}

.main-list {
  display: flex;
  gap: 150px;
}

.list-item__link {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-item__link::after {
  position: absolute;
  transition: 0.2s;
  content: "";
  border-radius: 10px;
  width: 55%;
  height: 3px;
  bottom: -12px;
  background: #059c49;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.list-item__link:hover::after {
  width: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-size: cover;
  padding: 10vh 10vw 80vh 10vw;
  background-position: center bottom;
  gap: 20px;
}

.home__title {
  letter-spacing: 0.3em;
  font-size: 70px;
  text-align: center;
  color: #ffffff;
  line-height: 1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.home__subtitle {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  line-height: 1;
}

.more {
  margin-bottom: 200px;
}

.more__title {
  font-size: 20px;
  position: relative;
  text-align: left;
  color: #ffffff;
  line-height: 1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-bottom: 20px;
}

.more__title::after {
  position: absolute;
  content: "";
  border-radius: 10px;
  width: 60%;
  height: 1px;
  bottom: -13px;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}









.feedback {
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
  
  .feedback__title {
    font-size: 35px;
    position: relative;
    text-align: left;
    color: #452a04;
    line-height: 1;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-bottom: 20px;
  }
  
  .feedback__title::after {
    position: absolute;
    content: "";
    border-radius: 10px;
    width: 100%;
    height: 2px;
    bottom: -13px;
    background: #452a04;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    gap: 20px;
  }
  
  .form label {
    width: 100%;
  }
  
  .form__input {
    width: 100%;
    font: inherit;
    background: #f2ff00;
    border: 2px solid #452a04;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
  }
  
  .form__input::placeholder {
    color: #000000;
  }
  
  .form__input:active,
  .form__input:focus,
  .form__input:focus-visible {
    border: none;
  }
  
  
  .form__button {
    font: inherit;
    font-weight: 800;
    color: #000000;
    background: linear-gradient(111.97deg, #f2ff00 35.63%, rgba(204, 139, 242, 0) 150.16%);
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
    padding: 15px 30px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }
